<?xml version="1.0"?>

<launch>



   
  <include file="$(find ucar_controller)/launch/base_driver.launch" > </include>

  <include file="$(find ydlidar)/launch/ydlidar.launch" > </include>

      <!-- Run the map server -->

  <node name="map_server" pkg="map_server" type="map_server" args="$(find ucar_nav)/maps/racetrack.yaml" output="screen">
   <param name="frame_id" value="map" />
  </node> 



    <!-- Localization -->
    <!-- AMCL -->


    <include file="$(find ucar_nav)/launch/config/amcl/amcl.launch" > </include>

    
    <!--  Navigation -->
    <!-- <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">

        <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
        <rosparam file="$(find ucar_nav)/launch/config/teb/move_base_params.yaml" command="load"/>
        <rosparam file="$(find ucar_nav)/launch/config/teb/teb_carlike/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find ucar_nav)/launch/config/teb/teb_carlike/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find ucar_nav)/launch/config/teb/teb_carlike/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find ucar_nav)/launch/config/teb/teb_carlike/global_costmap_params.yaml" command="load" />

        <rosparam file="$(find ucar_nav)/launch/config/teb/teb_carlike/standard_teb_local_planner_params.yaml" command="load" />

        <param name="clearing_rotation_allowed" value="false" /> 
    </node> -->

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true">
    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />

    <rosparam file="$(find ucar_nav)/launch/config/teb_gz/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find ucar_nav)/launch/config/teb_gz/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find ucar_nav)/launch/config/teb_gz/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find ucar_nav)/launch/config/teb_gz/global_costmap_params.yaml" command="load" />

    <rosparam file="$(find ucar_nav)/launch/config/teb_gz/move_base_params.yaml" command="load" />
    <rosparam file="$(find ucar_nav)/launch/config/teb_gz/base_global_planner_params.yaml" command="load" />
    <rosparam file="$(find ucar_nav)/launch/config/teb_gz/teb_local_planner_params.yaml" command="load" />
     <param name="clearing_rotation_allowed" value="false"/>
  </node>

    
    <!--  Visualisation -->
    <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find tianracer_rviz)/rviz_cfg/teb_navigation.rviz" if="$(arg use_rviz)" /> -->

</launch>
